:root {
  font-family: Raleway, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*_________COLOR SCHEME________*/

  /* iris-color*/
  /* --primary-brand-color: #04b4e0; */
  --primary-brand-color: #de0000;
  /* ocean-color */
  --pressed-color: #404bbf;
  /* navy-blue-color */
  --dark-color: #2e2f42;
  /* navy-blue-modal */
  --backdrop-color: rgba(46, 47, 66, 0.4);
  /* green-color */
  --success-color: #31d0aa;
  /* slate-color */
  --text-color: #434455;
  /* light-text-color */
  --subtle-text-color: #8e8f99;
  /*cornflower-color*/
  --accent-color: #e7e9fc;
  /* cloud-color */
  --light-color: #f4f4fd;
  /* clean */
  --clean-color: #ffffff;
}

html {
  scroll-behavior: smooth;

  /* overflow-x: hidden; */
}

/* body {
  overflow-x: hidden;
  overflow-y: hidden;
} */

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 16px;
  margin: 0 auto;

  overflow: hidden;
}
.section {
  padding: 50px 0 50px 0;
}

.section__title {
  font-size: 25px;
  margin-bottom: 20px;
  text-align: center;
}
.section__title > span {
  font-weight: 600;
}

.section__subtitle {
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  margin-bottom: 40px;
}

.section__text {
  line-height: 1.8;
}

.header__nav-item .active {
  background-position: 0;
}
.mobile__header-nav-item .active {
  color: var(--primary-brand-color);
}

.up__scroll {
  position: fixed;
  z-index: 9000;
  bottom: 15px;
  right: 15px;

  color: var(--primary-brand-color);
  opacity: 0.5;

  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.up__scroll-icon {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.up__scroll-icon:hover {
  transform: scale(1.1);
}

.up__scroll.hidden {
  transform: translateX(100px);
}

.up__scroll.show {
  transform: translateX(0);
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
  .section {
    padding: 140px 0 140px 0;
  }
}

@media (min-width: 1024px) {
  .container {
    width: 1000px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}
