:root {
  font-family: Raleway, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  /*_________COLOR SCHEME________*/

  /* iris-color*/
  --primary-brand-color: #04b4e0;
  /* ocean-color */
  --pressed-color: #404bbf;
  /* navy-blue-color */
  --dark-color: #2e2f42;
  /* navy-blue-modal */
  --backdrop-color: rgba(46, 47, 66, 0.4);
  /* green-color */
  --success-color: #31d0aa;
  /* slate-color */
  --text-color: #434455;
  /* light-text-color */
  --subtle-text-color: #8e8f99;
  /*cornflower-color*/
  --accent-color: #e7e9fc;
  /* cloud-color */
  --light-color: #f4f4fd;
  /* clean */
  --clean-color: #ffffff;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: 200vh;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1158px;
  }
}
